// OVERRIDE OF AIRBNB'S DATE PICKER COMPONENT

.SingleDatePickerInput__withBorder {
  border-radius: 4px;
}

.DateInput_input {
  font-weight: 400;
  border-radius: 4px;
}

.SingleDatePicker_picker {
  z-index: 999;
}
